.footer{
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 70%;
    left: 0;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px -19px 39px -12px  rgba(0,0,0,0.1);
     background: #fff;
}